* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    padding: 50px 0 20px;
    text-align: center;
    color: #252122;
}

nav {}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav li a {
    font-weight: 200;
    color: #5d5d5d;
    font-style: italic;
    text-decoration: none;
}

nav ul li:first-of-type {
    background-color: #d52349;

}

nav>ul>li:first-child>a {
    font-weight: 500;
    color: white;
}

nav ul li:not(:first-child):hover {
    background-color: #f3f3f3;

}

nav ul li {
    border-radius: 5px;
    padding: 11px 22px;
    font-size: 18px;
}

header img {
    width: 100%;
}

header {
    padding-top: 45px;
    position: relative;

}

.slogan-container {
    position: absolute;
    background-color: #221e1f;
    padding: 40px 50px;
    min-width: 600px;
    max-width: 600px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slogan-title {
    color: white;
    font-weight: 900;
    font-size: 42px;
}

.slogan-p {
    color: #d52349;
    font-size: 25px;
    font-weight: 300;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;

}

.cards .card:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 10px;
    box-shadow: -10px 0 12px -1px rgba(128, 128, 128, 0.4);
}



.cards .card:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    width: 10px;
    box-shadow: 10px 0 12px -1px rgba(128, 128, 128, 0.4);
}

.card-icon {
    height: 120px;
    width: 150px;
    background-color: #d52349;
    position: relative;
    margin: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 50px solid #d52349;
    bottom: -49px;
}

.cards .card:nth-child(2) .card-icon {
    background-color: #252122;
}

.cards .card:nth-child(2) .card-icon::after {
    border-top: 50px solid #252122;
}

.cards .card:nth-child(3) .card-icon {
    background-color: #827a7c;
}

.cards .card:nth-child(3) .card-icon::after {
    border-top: 50px solid #827a7c;
}

.card-description {
    text-align: center;
    font-weight: 200;
    color: #5d5d5d;
    padding: 0 15px;
}

.input-start-learn {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-bottom: 1px solid #827a7c76;
}

.background {
    padding: 15px 70px;
    background-color: #221e1f;
    color: #ffff;
    border-radius: 5px;
}

.input-start-learn .background:first-child {
    background-color: #d52349;
}

.input-start-learn .background:nth-child(1):hover {
    background-color: #bf5f74;
}

.input-start-learn .background:nth-child(2):hover {
    background-color: #4a4244;
}

.portfolio,
.blog {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 100px 0;
}

.portfolio h2 {
    position: relative;
    width: 100%;
    text-align: center;
}

.portfolio h2::before,
.portfolio h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 0.5px;
    background-color: #827a7c76;
}

.portfolio h2::before {
    left: 0;
}

.portfolio h2::after {
    right: 0;
}


.portfolio-card-container,
.blog-card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 40px;
    justify-content: center;
}

.portfolio-card {
    background-color: #ffff;
    width: 30%;
    min-width: 250px;
    max-width: 350px;

    border-bottom: solid 1px #ccc;
}

.portfolio-card-image {
    width: 100%;
}

.portfolio-card-image img {
    width: 100%;
    object-fit: contain;
}

.portfolio-card-content,
.blog-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 30px 25px;
}

.portfolio-card-content h3,
.blog-card-content h3 {
    color: #252122;
}

.portfolio-card-content p,
.blog-card-content p,
.card-blandit-text {
    color: #827a7c;
    line-height: 30px;
    font-weight: 100;

}

.portfolio-card-content button {
    background-color: #221e1f;
    padding: 15px 25px;
    color: #ffff;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    font-weight: bolder;
}


.blog h2 {
    text-align: center;
    position: relative;
    width: 100%;
}

.blog h2::before,
.blog h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 0.5px;
    background-color: #827a7c76;
}

.blog h2::before {
    left: 0;
}

.blog h2::after {
    right: 0;
}

.blog-card {
    display: flex;
    flex-direction: column;
    width: 47%;
    max-width: 600px;
    min-width: 400px;
    gap: 40px;
    background-color: #ffffff;
    border-bottom: solid 1px #ccc;
}

.blog-card-image {
    width: 100%;
    max-height: 250px;
    min-height: 250px;
    background-color: #d52349;
}

.blog-card-image img {
    object-fit: cover;
    width: 100%;
    max-height: 250px;
    min-height: 250px;
}

.blog-card-content p:nth-child(2) {
    font-style: italic;
    /*HELP perchè due e non 1? se specifico p*/
}

.blog-card-button {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.blog-card-button button {
    color: #ffff;
    padding: 15px 26px;
    border: none;
    border-radius: 5px;

    font-weight: 700;

}

.blog-card button:first-child {
    background-color: #d52349;
}

.blog-card button:last-child {
    background-color: #221e1f;
}

.blog {
    padding: 80px;
}

footer {
    background-color: #221e1f;
    width: 100%;
    display: flex;
    padding: 0 150px;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 400px;
}

.footer-left-blandit h3,
.footer-left-link h2,
.footer-right-top h2 {
    color: white;
    padding: 40px 0 0;
}

.card-blandit {
    display: flex;
    gap: 35px;

    border-bottom: 1px solid #4a4244;
    padding: 30px 0 15px;
}

.footer-left .footer-left-blandit .card-blandit:not(:last-child) {
    border-bottom: 1px solid #4a4244;
}

/*NON CAPISCO*/

.card-blandit-icon {
    background-color: #d52349;
    height: 55px;
    width: 55px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date p {
    color: #ffff;

    line-height: 20px;

}

.date p:nth-child(2) {
    font-size: 30px;
}

.triangolo {
    position: absolute;
    left: 50px;
    top: -1px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #d52349;
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
}

.card-blandit-text {
    display: flex;
    flex-direction: column;
}

.card-blandit-title {
    color: #ffff;
}

.footer-left-links {

    display: flex;
    justify-content: space-between;
    min-width: 200px;
    gap: 40px;

}

.footer-left-link {
    width: 50%;



}

.footer-left-link h4 {
    color: #ffff;
}

.footer-left-link li,
a {
    color: #ffff;
    list-style: none;
    font-weight: 100;
    text-decoration-thickness: 0.5px;
}

.footer-left-link li {
    padding: 20px 0;
    border-bottom: 1px solid #4a4244;
}

.footer-right {
    width: 30%;
}

.footer-right-top-image {
    width: 100%;
    height: 200px;

}

.footer-right-top-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: none;
}
